---
title: APRS Resources
permalink: /resources/
layout: layouts/page.njk
eleventyNavigation:
  key: APRS Resources
  order: 30
intro: Clients, TNCs, radios, and other tools for getting on the APRS network.
---
<p>Whether you're setting up your first tracker or building out a digipeater, here's a starting set of software and hardware resources used across the NWAPRS region.</p>

{% set linkGroups = resourceLinks %}
{% include "components/link-list.njk" %}
