<footer class="bg-night-950 text-white/70">
  <div class="mx-auto max-w-5xl px-4 py-10 text-center text-sm sm:text-left">
    <p class="mt-1">
      NWAPRS is sponsored by the <a href="http://wa7vc.org" class="text-signal-400 underline underline-offset-2 hover:text-signal-300">WA7VC Radio Club</a><br />
      Questions? <a href="mailto:{{ metadata.contactEmail }}" class="text-signal-400 underline underline-offset-2 hover:text-signal-300">{{ metadata.contactEmail }}</a> or contact the <a href="/subscribe/" class="text-signal-400 underline underline-offset-2 hover:text-signal-300">NWAPRS Mailing List</a>
    </p>
    <p class="mt-1 text-white/40">Site last built on {{ buildInfo.date }}.</p>
    <p>
      APRS is a registered trademark of Bob Bruninga, WB4APR/SK
    </p>
  </div>
</footer>
