<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if title %}{{ title }} · {{ metadata.title }}{% else %}{{ metadata.longTitle }}{% endif %}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="icon" href="/assets/img/favicon.svg" type="image/svg+xml">
<meta property="og:title" content="{% if title %}{{ title }} · {{ metadata.title }}{% else %}{{ metadata.longTitle }}{% endif %}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:type" content="website">
<link rel="stylesheet" href="/assets/css/style.css">
